#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
}

@media screen and (max-width: 980px) {
	.main-section {
		max-width: 46%;
		margin-left: 100px;
	}
}

@media screen and (max-width: 768px) {
	.main-section {
		margin-left: 20px;
		margin-right: 20px;
		max-width: 95%;
	}
}

@media screen and (max-width: 640px) {
	header {
		position: static;
	}

	.main-section {
		max-width: 94%;
		margin-left: 20px;
		margin-right: 20px;
	}



}