.work {
  position: relative;
  float: left;
  width: 274px;
  margin: 20px 0 25px;
  overflow: auto;
}

.work:nth-child(even) {
  margin-right: 40px;
}

.work img {
  width: 100%;
  border: 0 none;
  opacity: 0.8;
}

.work h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}

.auth-image {
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}

@media screen and (max-width: 980px) {
	.work {
		float: none;
	}

	.main-section {
		max-width: 450px;
		margin-left: 100px;
	}
}

@media screen and (max-width: 768px) {
	.main-section {
		margin-left: 20px;
		margin-right: 20px;
		max-width: 95%;
	}

	.work {
		float: left;
	}
}

@media screen and (max-width: 640px) {
	header {
		position: static;
	}

	.main-section {
		max-width: 94%;
		margin-left: 20px;
		margin-right: 20px;
	}

	.work {
		float: none;
		width: 100%;
	}



}