
body {
	background: url('../images/concrete-texture/concrete-texture.png');
}


/* Header */
.top-section {
	background: #ffffff;
	border-bottom: 2px solid #cccccc;
	width: 100%;
	height: 100px;

}

header {
	background: #4aaaa5;
	color: #ffffff;
	width: 20%;
	height: 100px;
	float: left;
	margin-left: 150px;
}

h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 28px;
	font-weight: bold;

}

#name {
	text-align: center;
	line-height: 100px;
}

/* Navigation Bar */

nav {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	float: left;
	margin: auto;

}

#full-nav {
	list-style-type: none;
	padding: 0;
	margin: 0;
	background: #ffffff;
	position: absolute;
	right: 200px;
	top: 50px;

}

.nav-option {
	float: left;
	border-right: 1px solid #dddddd;
	margin-left: 5px;
	margin-right: 5px;
}

.nav-option:last-child {
	border-right: none;
}

.page-name {
	display: block;
	padding: 8px;
	text-decoration: none;
	color: #777777;

}

/* Main Section */

.content {
	width: 960px;
	clear: both;
	margin: auto;
	margin-bottom: 150px;
	overflow: hidden;
}

.bio {
	background: #ffffff;
	width: 648px;
	border: 1px solid #dddddd;
	float: left;
	margin: 40px 36px 0px 0px;
}

#about-head {
	color: #4aaaa5;
	border-bottom: 2px solid #dddddd;
	margin: 30px 20px 20px 30px;
	padding-top: 10px;
	padding-left: 0px;
	padding-bottom: 25px;
}

#about-cont {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	margin: 30px;
	line-height: 20px;
}

#profile-pic {
	height: 35%;
	width: 35%;
	float: left;
	margin: 0px 20px 20px 30px;
}

/* Sidebar */

.contact {
	background: #ffffff;
	width: 268px;
	border: 1px solid #dddddd;
	float: left;
	margin: 40px 0px 0px 0px;
}

h2 {
	color: #4aaaa5;
	font-size: 24px;
	border-bottom: 1px solid #dddddd;
	padding: 30px 20px 15px 20px;
	margin-right: 25px;
	margin-left: 25px;
	font-weight: bold;
	text-align: center;

}

#profiles {
	list-style-type: none;
	margin-left: 20px;
	margin-right: 20px;
}

.icon {
	float: left;
}



.thumbnail {
	height: 70px;
	width: 70px;
	margin: 25px 3px 40px 3px;
	float: left;
}


/* Footer */

#page-footer {
	background: #666666;
	border-top: 8px solid #4aaaa5;
	height: 100px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	clear: both;
}

#copyright {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	margin: 50px 512px 50px 512px
}

